In [2]:
import requests
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd

import re
import time

In [4]:
url="https://www.flipkart.com/search?q=earbuds%20above%201000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"
page=requests.get(url)
soup = BeautifulSoup(page.text)


p=soup.find_all("div",class_="yRaY8j")
Originalprice = []
for i in p:
    Originalprice.append(i.text)


p1=soup.find_all("div",class_="Nx9bqj")
Discountedprice=[]
for i in p1:
    Discountedprice.append(i.text)


data=soup.find_all("a",class_="wjcEIp")
Brands = []
for i in data:
    Brands.append(i.text.split()[0])

Models=[]
for i in data:
    w=i.text.split()[0:3] 
    model= " ".join(w)
    Models.append(model)


d1=soup.find_all("div",class_="XQDdHH")
Rating = []
for i in d1:
    Rating.append(i.text)


Battery = []
for i in data:
    text =i.text
    match = re.findall(r'(\d+)\s*(?:[hH](?:rs?|ours?)?|hr|hours?|hrs?)\s*(?:[Bb]attery|[Pp]laytime|[Pp]layback)?', text)
    if match:
        Battery.append(match[0])
    else:
        Battery.append(np.nan)

Discount = []
for tag in soup.find_all("div", class_="UkUFwK"):
    text = tag.text.replace('off', '').strip()
    Discount.append(text)



d4=soup.find_all("span",class_="Wphh3N")
Reviews = []
for i in d4:
    Reviews.append(i.text)

In [9]:
d = {
    "Brands": Brands,
    "Models": Models,
    "Battery": Battery,
    "OriginalPrice": Originalprice,
    "DiscountedPrice": Discountedprice,
    "Discount": Discount,
    "Rating": Rating,
    "Reviews": Reviews
}

In [12]:
print(len(Brands))
print(len(Models))
print(len(Battery))
print(len(Originalprice))
print(len(Discountedprice))
print(len(Discount))
print(len(Rating))
print(len(Reviews))

40
40
40
40
45
45
55
40

In [14]:
cols = [Brands, Models, Battery, Originalprice, Discountedprice, Discount, Rating, Reviews]
max_len = max(len(lst) for lst in cols)

for lst in cols:
    while len(lst) < max_len:
        lst.append(np.nan)

In [29]:
df1 = pd.DataFrame(d)

In [30]:
df1

,Brands,Models,Battery,OriginalPrice,DiscountedPrice,Discount,Rating,Reviews
0,TRIGGR,TRIGGR Ultrabuds N5,40,"₹2,999",₹599,80%,4,"(4,464)"
1,GOBOULT,GOBOULT Astra with,48,"₹3,499","₹1,199",65%,4.1,"(2,10,839)"
2,OPPO,OPPO Enco Buds3,54,"₹3,499","₹1,499",57%,4.3,"(4,05,630)"
3,realme,realme Buds T200x,NaN,"₹2,499","₹1,299",48%,4.3,"(1,14,250)"
4,boAt,"boAt Airdopes 161/163,ASAP",40,"₹2,490",₹799,67%,4,"(14,48,951)"
5,GOBOULT,GOBOULT Astra with,48,"₹3,499","₹1,199",65%,4.1,"(2,10,839)"
6,OnePlus,OnePlus Nord Buds,NaN,"₹2,299","₹1,599",30%,4.4,"(3,21,130)"
7,GOBOULT,GOBOULT Astra Neo,70,"₹3,499","₹1,099",68%,4.1,"(2,10,839)"
8,PHILIPS,PHILIPS TAT1269BK In-Ear,40,"₹1,999","₹1,099",45%,3.9,(726)
9,CMF,CMF by Nothing,NaN,"₹2,499","₹1,899",24%,4.3,"(67,152)"
10,TRIGGR,TRIGGR Ultrabuds N4,NaN,"₹1,999",₹599,70%,4,"(12,267)"
11,TRIGGR,TRIGGR Kraken X1,NaN,"₹3,999",₹799,80%,4,"(82,529)"
12,GOBOULT,GOBOULT Z40 Pro,100,"₹5,499","₹1,299",76%,4.1,"(1,69,005)"
13,ZEBRONICS,ZEBRONICS Zeb-Sound Bomb,60,"₹4,299",₹799,81%,4,"(16,884)"
14,Mi,Mi Buds 5,NaN,"₹4,999","₹1,499",70%,4,"(16,069)"
15,realme,realme Buds T200,48,"₹1,999","₹1,399",30%,4.2,"(4,06,007)"
16,boAt,"boAt Airdopes 161/163,ASAP",40,"₹2,490","₹1,099",55%,4,"(14,48,951)"
17,GOBOULT,GOBOULT Astra with,48,"₹3,499","₹1,199",65%,4.1,"(2,10,839)"
18,CMF,CMF by Nothing,NaN,"₹3,999","₹2,599",35%,4.3,"(2,459)"
19,Noise,Noise Buds VS102,70,"₹3,999","₹1,499",62%,3.8,"(1,22,752)"
20,Noise,"Noise Buds UNO,",40,"₹3,499","₹1,199",65%,4.1,"(14,951)"
21,GOBOULT,GOBOULT Mustang Torq,60,"₹5,999","₹1,799",70%,4.2,"(55,513)"
22,boAt,"boAt Airdopes Alpha,35H",35,"₹3,490",₹799,77%,4,"(6,84,165)"
23,Mivi,Mivi Duopods B1,45,"₹2,999",₹699,76%,4.1,"(34,145)"
24,boAt,"boAt Airdopes 71,40",40,"₹3,990",₹799,79%,3.9,"(1,34,436)"
25,boAt,boAt Airdopes Alpha,45,"₹3,990",₹799,79%,4,"(6,84,165)"
26,PTron,PTron Bassbuds Vibe,34,"₹2,899",₹599,79%,4.1,"(12,069)"
27,boAt,boAt Airdopes 181,100,"₹4,990","₹1,099",77%,4,"(1,06,270)"
28,OnePlus,OnePlus Nord Buds,NaN,"₹2,299","₹1,599",30%,4.4,"(3,21,130)"
29,MOTOROLA,MOTOROLA Moto Buds,NaN,"₹4,999","₹1,999",60%,4.2,"(11,439)"
30,Noise,Noise Buds VS102,50,"₹3,499","₹1,299",62%,4,"(6,68,128)"
31,TRIGGR,TRIGGR Kraken X4,NaN,"₹3,999",₹799,80%,4,"(42,234)"
32,realme,realme Buds T200,48,"₹1,999","₹1,399",30%,4.2,"(4,06,007)"
33,realme,realme Buds T110,38,"₹2,999","₹1,299",56%,4.2,"(4,06,007)"
34,Mi,Mi Buds 5,NaN,"₹4,999","₹1,499",70%,4,"(16,069)"
35,Noise,Noise Buds MVP102,60,"₹2,999","₹1,099",63%,3.8,"(10,324)"
36,GOBOULT,GOBOULT Mustang Dyno,60,"₹4,999","₹1,199",76%,4.2,"(55,513)"
37,realme,realme Buds T200,48,"₹1,999","₹1,399",30%,4.2,"(4,06,007)"
38,GOBOULT,GOBOULT Z40 Pro,100,"₹5,499","₹1,099",80%,4.1,"(1,69,005)"
39,Noise,Noise Buds VS102,70,"₹3,999","₹1,499",62%,3.8,"(1,22,752)"
40,NaN,NaN,NaN,NaN,₹599,70%,4,NaN
41,NaN,NaN,NaN,NaN,₹799,81%,5,NaN
42,NaN,NaN,NaN,NaN,"₹1,099",77%,5,NaN
43,NaN,NaN,NaN,NaN,"₹1,199",76%,4,NaN
44,NaN,NaN,NaN,NaN,₹799,67%,5,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,4.2,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN

In [26]:
Brands = []
Models = []
Battery = []
Originalprice = []
Discountedprice = []
Discount = []
Rating = []
Reviews = []



for i in range(2,14):
    print("https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page="+str(i))
    urls = "https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page="+str(i)
    page = requests.get(urls)
    soup = BeautifulSoup(page.text)


    p=soup.find_all("div",class_="yRaY8j")
    for i in p:
        Originalprice.append(i.text)


    p1=soup.find_all("div",class_="Nx9bqj")
    for i in p1:
        Discountedprice.append(i.text)


    data=soup.find_all("a",class_="wjcEIp")
    for i in data:
        Brands.append(i.text.split()[0])


    for i in data:
        w=i.text.split()[0:3] 
        model= " ".join(w)
        Models.append(model)


    d1=soup.find_all("div",class_="XQDdHH")
    for i in d1:
        Rating.append(i.text)


    
    for i in data:
        text =i.text
        match = re.findall(r'(\d+)\s*(?:[hH](?:rs?|ours?)?|hr|hours?|hrs?)\s*(?:[Bb]attery|[Pp]laytime|[Pp]layback)?', text)
        if match:
            Battery.append(match[0])
        else:
            Battery.append(np.nan)

   
    for tag in soup.find_all("div", class_="UkUFwK"):
        text = tag.text.replace('off', '').strip()
        Discount.append(text)



    d4=soup.find_all("span",class_="Wphh3N")
    for i in d4:
        Reviews.append(i.text)

    cols = [Brands, Models, Battery, Originalprice, Discountedprice, Discount, Rating, Reviews]
    max_len = max(len(lst) for lst in cols)

    for lst in cols:
        while len(lst) < max_len:
            lst.append(np.nan)

https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=11
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=12
https://www.flipkart.com/search?q=earbuds+above+1000&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=13

In [27]:
len(Rating)

593

In [28]:
data1 = {
    "Brands": Brands,
    "Models": Models,
    "Battery": Battery,
    "OriginalPrice": Originalprice,
    "DiscountedPrice": Discountedprice,
    "Discount": Discount,
    "Rating": Rating,
    "Reviews": Reviews
}

In [31]:
df = pd.DataFrame(data1)

In [32]:
df

,Brands,Models,Battery,OriginalPrice,DiscountedPrice,Discount,Rating,Reviews
0,GOBOULT,GOBOULT Y1 with,50,"₹5,499",₹699,87%,4.1,"(5,57,237)"
1,Noise,Noise Buds VS102,50,"₹3,499","₹1,299",62%,4,"(6,68,128)"
2,Mi,Mi Buds 5C,NaN,"₹4,999","₹1,799",64%,4,"(16,069)"
3,GOBOULT,GOBOULT Astra with,48,"₹3,499","₹1,199",65%,4.1,"(2,10,839)"
4,Noise,Noise Buds VS404,50,"₹3,499",₹999,71%,3.9,"(85,945)"
...,...,...,...,...,...,...,...,...
588,NaN,NaN,NaN,NaN,₹599,70%,3.9,NaN
589,NaN,NaN,NaN,NaN,"₹1,099",55%,5,NaN
590,NaN,NaN,NaN,NaN,₹699,80%,5,NaN
591,NaN,NaN,NaN,NaN,"₹1,099",77%,NaN,NaN
592,NaN,NaN,NaN,NaN,₹787,50%,NaN,NaN

In [35]:
df.to_csv("earbuds.csv")

In [36]:
df.to_excel("Earbuds_Data.xlsx", index=True)